<div class="card-body designCardBody">
    <div>
        <div style="position: relative; left: 0; top: 0;">
            <img id="apf1" src="/assets/images/I-IVAU.jpg">
        </div>
    </div>

    <p-tabMenu [model]="items"></p-tabMenu>

    <div id="about-tab" *ngIf="selectedTab=='about'" style="width:80em">
        <app-static-content-container [page]="(service.aboutPage$ | async) || ''"></app-static-content-container>
    </div>

    <div id="documents-tab" *ngIf="selectedTab=='documents'">
        <span class="cardContent">
            <p style="width:80em"> The documents, below, are an excerpt of the full, controlled and uncontrolled facility documents for
                this APF, provided for your convenience. For access to the full archive of documents, or for access to
                the controlled version of any of these documents, please <a (click)="contactUsClick()" class="contact-link">contact</a> FCIS.

                The documents listed as Record Of Work As Constructed (ROWAC) are As-Built documents that have been
                verified.</p>

            <div>
                <div *ngFor="let docGroup of (service.documents$ | async) || []">
                    <div *ngIf="docGroup.description !== 'FacilityDiagram'">
                    <b>{{docGroup.description}}</b>
                    <ul>
                        <li *ngFor="let atch of docGroup.attachments">
                            <a [href]="atch.url" target="_blank">{{atch.docTitle}}</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div *ngIf="((service.documents$ | async) || []).length == 0">
                    <span>No Documents Available</span>
                </div>
            </div>
        </span>
    </div>

    <div id="diagram-tab" *ngIf="selectedTab=='diagram'" style="height:800px">
        <a *ngIf="hasDiagram"[href]="diagramUrl" target="_blank">Open in new tab</a>
        <object *ngIf="hasDiagram" [data]="diagramUrl" type="application/pdf" width="100%" height="100%"></object>
        <div *ngIf="!hasDiagram">No Diagram Available</div>
    </div>

    <div id="documents-tab" *ngIf="selectedTab=='pictures'">
        <div class="card">
            <div style="display:flex;flex-wrap: wrap; justify-content:flex-start; gap:8px;">
                <div *ngFor="let photo of (service.pictures$ | async) || []"
                    style="border:1px solid black; padding:4px;">
                    <p-image [src]="photo.url" [preview]="true" width="200" height="200"
                        [alt]="photo.docTitle"></p-image><br />
                    <span style="font-size:smaller; font-weight:bold;">{{photo.docTitle}}</span>
                </div>
                <div *ngIf="((service.pictures$ | async) || []).length == 0">
                    <span>No Pictures Available</span>
                </div>
            </div>
        </div>

    </div>

</div>