<div class="card">
  <div class="card-body">
    <div class="row" id="rowTest" style="border: 0px solid red">
      <div class="col-md-3">
        <app-apf-portfolio-all-map></app-apf-portfolio-all-map>
      </div>

      <div class="panel-center col-md-9" style="border: 0px solid black">
        <div class="row">
          <div class="panel-center col-md-12" style="border: 0px solid black">
            <h4 style="color: #b3172c">
              Aseptic Production Facilities (APF) Portfolio Web Portal
            </h4>
            <p>
              The National Institutes of Health (NIH) APF Portfolio consists of
              12 facilites, including pharmacies, radiopharmacies ...
            </p>
            <app-gsf-growth-by-classification-chart
              [chartData]="(service.gsfGrowthByClassification$ | async) || []"
            >
            </app-gsf-growth-by-classification-chart>
            <div class="chart-label">
              APF Portfolio Growth Square Feet (GSF) by Area of Classification Type
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="panel-center col-md-6" style="border: 0px solid black">
            <app-gsf-pie-chart [chartData]="(service.gsfByIC$ | async) || []" [chartOptions]="chartByIcOptions">
              <!-- gsfByIcData -->
            </app-gsf-pie-chart>
            <div class="chart-label">APF Portfolio GSF by IC</div>
          </div>

          <div class="panel-center col-md-6" style="border: 0px solid black">
            <app-gsf-pie-chart
              [chartData]="(service.gsfByFacility$ | async) || []" [chartOptions]="chartByFacilityOptions"
            ></app-gsf-pie-chart>
            <div class="chart-label">APF Portfolio GSF by Facility</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
