<div style="position: relative;">
  <!-- Nav bar -->
  <!-- <div class="sidebar">
    <div>Home</div>
    <div>Crit Env Parameters</div>
    <div>System Crit Parameters</div>
    <div>System Crit Parameters</div>
    <div>Damage Report</div>

    <div>-------------</div>

    <div>Capa Dashboard</div>
    <div>FCIS Buisness Dashboard</div>
    <div>Pi Dashboard</div>
    <div>Master Control</div>


    <div>--------------</div>


    <div>Resources</div>
    <div>Contact FCIS</div>
  </div> -->

  <div class="body-text">
    <div class="row" style="position:relative;">

      <div style="display:flex">
        <div style="display:flex; position:relative">
          <div style="border:1px solid lightgray; padding:4px 16px;"><a (click)="opFilter.toggle($event)"><i
                class="pi pi-search" style="font-size: 2rem; cursor:pointer"></i></a></div>
          <div style="border:1px solid lightgray; padding:4px 16px;"><a (click)="opKey.toggle($event)"><i class="pi pi-key"
                style="font-size: 2rem"></i></a></div>
        </div>
        <div style="display:flex; justify-content: center;  width:35%;">
          <div style="padding-left:8px; border:0px solid lightgray; width:380px; color: #b3172c; font-weight:bold;">
            {{filterParams.facility}}<br>
            
          </div>
        </div>

      </div>


      <p-overlayPanel #opFilter>
        <app-pi-data-filter-toolbar [facilities]="(facilityFilterOptions$ | async)!" [defaultFacilityId]="0"
          [defaultInterval]="30" (filterChange)="filterChange($event)"></app-pi-data-filter-toolbar>
      </p-overlayPanel>

      <p-overlayPanel #opKey>
        <div class="floor-plan-key">
          <img
          src="assets/images/floor-plans/FloorPlanColorKey.svg"
          style="width: 500px; border: 1px solid red"/>
        </div>

      </p-overlayPanel>



      <div class="col-md-6">

        <div class="svg-map-container">
          <app-svg-status-map [svgMap]="(svgMap$ | async) || defaultSvgMap" [pinStates]="(pinStates$ | async) || {}"
            [backgroundImageUrl]="(svgBackgroundImageUrl$ | async) || ''"
            [highlightedMapPin]="(hoveredTimelineLabel$ | async) || ''" (pinClick)="pinClick($event)"
            (pinMouseOver)="pinMouseOver($event)" (pinMouseOut)="pinMouseOut($event)">
          </app-svg-status-map>
        </div>

      </div>

      <div class="col-md-6" style="border: 0px solid black">
        <div class="row" *ngIf="isFacilityAll$ | async">
          <div class="col-md-12" style="border: 0px solid rgb(219, 213, 213)">
            <h4 style="color: #b3172c">
              Composite Health Status of the APF Portfolio
            </h4>

            <app-apf-monitored-rooms-chart
              [chartData]="(monitoredRoomsChartData$ | async) || []"></app-apf-monitored-rooms-chart>
            <div class="chart-label">
              APF Portfolio: Monitored Rooms and Critical Environmental
              Parameter Points
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 justify-content-center" style="height: 520px">
            <div id="loadingGif" style="
                  display: none;
                  position: fixed;
                  z-index: 1031;
                  top: 50%;
                  right: 30%;
                  margin-top: 100px;
                  margin-right: -100px;
                ">
              <img src="assets/images/giphy.gif" alt="loading" />
            </div>

            <div class="timeline-chart-container">
              <h4 style="color: #b3172c">Critical Parameter Timeline - {{filterParams.status}} {{filterParams.startDate}} - {{filterParams.endDate}} ({{filterParams.interval}} minute interval)</h4>
              <app-apf-timeline-chart [chartData]="
                    (timelineChartData$ | async) || {
                      points: [],
                      locations: {},
                      locationType: 'facility'
                    }
                  " [highlightedLabel]="(hoveredPin$ | async) || ''" [isLoading]="isLoading"
                (chartLabelClick)="chartLabelClick($event)" (chartLabelMouseOver)="chartLabelMouseOver($event)"
                (chartLabelMouseOut)="chartLabelMouseOut($event)"></app-apf-timeline-chart>
            </div>

            <div class="room-info-display-container" *ngIf="(hasSelectedRoom$ | async) || false">
              <app-room-info-display [roomInfo]="(selectedRoomInfo$ | async) || {}"
                [attribute]="(selectedAttributeStatus$ | async) || 'composite'"></app-room-info-display>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>