.chart-label {
  margin-top: -4px;
  text-align: center;
  font-weight: bold;
  font-size: smaller;
}

.filter-toolbar-container {
  margin-bottom:8px;
}

.timeline-chart-container {
  margin-top:8px;
}

.svg-map-container {
  padding:4px;
  background-color: white;
}

.room-info-display-container {
  padding:4px;
}