<!-- <div>
  <h2>Background</h2>
  <img src="assets/images/floor-plans/PET_B3_Background.png" />
</div> -->

<svg
  xmlns="http://www.w3.org/2000/svg"
  [attr.viewBox]="svgMap.viewbox"
  [style]="backgroundStyle"
>
  <defs [innerHtml]="svgMap.defs | sanitizedHtml"></defs>
  <g
    *ngIf="svgMap.backgroundSvg"
    id="background"
    [innerHtml]="svgMap.backgroundSvg | sanitizedHtml"
  ></g>
  <g *ngFor="let pin of svgMap.svgMapPins" [attr.id]="'pin_' + pin.locationId">
    <a
      class="map-pin"
      data-toggle="tooltip"
      (click)="pinClick.emit(pin.locationId)"
      (mouseover)="mouseOver(pin.locationId)"
      (mouseout)="mouseOut(pin.locationId)"
    >
      <path
        *ngIf="pin.path"
        class="pin-path"
        [attr.d]="pin.path"
        [attr.data-locationId]="pin.locationId"
      />
      <circle
        *ngIf="!pin.path"
        class="pin-border"
        [attr.data-locationId]="pin.locationId"
        [attr.cx]="pin.cx"
        [attr.cy]="pin.cy"
        [attr.r]="pin.r + 5"
      />

      <circle
        [ngClass]="pinClass(pin.locationId)"
        [attr.cx]="pin.cx"
        [attr.cy]="pin.cy"
        [attr.r]="pin.r"
      />
    </a>
  </g>

  <g
    *ngFor="let arrow of svgMap.svgMapArrows"
    [attr.id]="'pin_' + arrow.locationId"
  >
    <a
      class="map-pin"
      data-toggle="tooltip"
      (click)="pinClick.emit(arrow.locationId)"
      (mouseover)="mouseOver(arrow.locationId)"
      (mouseout)="mouseOut(arrow.locationId)"
    >
      <polygon
        class="pin-border"
        [attr.data-locationId]="arrow.locationId"
        [attr.points]="arrow.arrowOutlinePoints"
      ></polygon>
      <polygon
        [ngClass]="pinClass(arrow.locationId)"
        [attr.points]="arrow.arrowInsidePoints"
      ></polygon>
    </a>
  </g>
</svg>

<!-- <img
  src="assets/images/floor-plans/FloorPlanColorKey.svg"
  style="max-width: 100%; border: 1px solid red"
/> -->

<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>

<!-- <g id="dPArrowsFID5">
  <g id="pin1CM100B_1CM100_DP">
      <polygon id="pinBack1CM100B_1CM100_DP" class="stGray" points="152.15 304.26 170.23 321.72 170.23 311.21 198.53 311.21 198.53 297.29 170.23 297.29 170.23 286.72 152.15 304.26" />
      <polygon id="pinColor1CM100B_1CM100_DP" class="stWhite" points="155.47 304.25 167.91 316.27 167.91 308.9 196.22 308.9 196.22 299.61 167.91 299.61 167.91 292.19 155.47 304.25" />
  </g> -->
