<div class="container">
    <div class="row my-4">
      <div class="col-md-4 col-lg-3 mb-3 mb-lg-0">
        <div class="list-group list-group-flush">
          <p class="mb-0 list-group-item font-weight-bold">
            <b>About FCIS</b>
          </p>
          <a
            [routerLink]="['/home', 'resource', 'who-we-are']"
            class="list-group-item list-group-item-action"
            >Who We Are</a
          >
          <a
            [routerLink]="['/home', 'resource', 'gui-org-chart']"
            class="list-group-item list-group-item-action"
            >FCIS Team</a
          >
          <a
            [routerLink]="['/home', 'resource', 'functionalstmt']"
            class="list-group-item list-group-item-action"
          >
            FCIS Functional Statement
          </a>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 mb-3 mb-lg-0">
        <div class="list-group list-group-flush">
          <p class="mb-0 list-group-item font-weight-bold">
            <b>Resources</b>
          </p>
          <a
            [routerLink]="['/home', 'resource', 'gui-doc-abbreviations']"
            class="list-group-item list-group-item-action"
            >Abbreviations</a
          >
          <a
            [routerLink]="['/home', 'resource', 'gui-doc-definitions']"
            class="list-group-item list-group-item-action"
            >Definitions</a
          >
          <a
            [routerLink]="['/home', 'resource', 'gui-doc-faq']"
            class="list-group-item list-group-item-action"
            >FAQ</a
          >
          <a
            [routerLink]="['/home', 'resource', 'gui-doc-wlinks']"
            class="list-group-item list-group-item-action"
            >News & Links</a
          >
          <a
            [routerLink]="['/home', 'resource', 'gui-doc-drm']"
            class="list-group-item list-group-item-action"
            >DRM</a
          >
        </div>
      </div>
      <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
        <div class="list-group list-group-flush">
          <p class="mb-0 list-group-item font-weight-bold">
            <b>SOP & WI</b>
          </p>
          <a [routerLink]="['/home', 'resource', 'dfom-sop']"
            class="list-group-item list-group-item-action"
            >DFOM SOP & WI</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >DTR SOP & WI</a
          >
        </div>
      </div>
      <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
        <div class="list-group list-group-flush">
          <p class="mb-0 list-group-item font-weight-bold">
            <b>Forms</b>
          </p>
          <a href="" class="list-group-item list-group-item-action"
            >Form 1</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >Form 2</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >Form 3</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >Form 4</a
          >
        </div>
      </div>
      <hr />
      <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
        <div class="list-group list-group-flush">
          <p class="mb-0 list-group-item font-weight-bold">
            <b>Templates</b>
          </p>
          <a href="" class="list-group-item list-group-item-action"
            >TT 1</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >TT 2</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >TT 3</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >TT 4</a
          >
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="list-group list-group-flush">
          <p class="mb-0 list-group-item font-weight-bold">
            <b>Outside Links</b>
          </p>
          <a href="" class="list-group-item list-group-item-action"
            >LL/CI Dashboard</a
          >
          <a href="" class="list-group-item list-group-item-action">
            FCIS Business Dashboard
          </a>
          <a href="" class="list-group-item list-group-item-action"
            >Master Control</a
          >
          <a href="" class="list-group-item list-group-item-action"
            >PI Dashboard</a
          >
        </div>
      </div>
    </div>
  </div>
