.status-circle {
    display: inline-block; 
    border:3px solid black;
     width: 20px; 
     height: 20px; 
     border-radius:13px; 
     vertical-align: 
     text-bottom; 
     margin-left: 10px;  
}