
<div class="flex justify-content-between gap-4" style="width:1200px;">

    <div class="container">
        <div id="map-container" class="flex justify-content-center">

            <div style="width:500px; height:auto;">

                <app-facility-all-map [facilityId]="facilityId"></app-facility-all-map>
                <div style="background-color:gray; color:black; text-align: center;">
                    Facility Location Map
                </div>
            </div>
        </div>
        <div style="display:flex; justify-content: right;">
            <a (click)="managePhotosClick()" style="font-size: smaller; color:red;">Manage Photos</a>
        </div>
        <div id="images-container" class="flex justify-content-center">

            <div class="card">

                <div style="display:flex;flex-wrap: wrap; justify-content:space-around">
                    
                    <div *ngFor="let photo of photos"
                        style="border:0px solid black; padding:4px;">
                        <p-image [src]="photo.url" [preview]="true" height="150" width="150" 
                            [alt]="photo.docTitle"></p-image><br />
                        <span style="font-size:x-small; font-weight:bold;">{{photo.docTitle}}</span>
                    </div>
                    <div *ngIf="photos.length == 0">
                        <span>No Pictures Available</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about-container" class="container overflow-scroll w-9" style="max-height: 980px;">
        <app-static-content-container [page]="aboutText"></app-static-content-container>
    </div>

</div>