
            /*@MM new classes for facility selection*/
            svg.FID_0 {
                background-image: url(../../assets/images/_APF-Portfolio_Revised_FacilityHealthv2vFinal.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 90%;
            }

            svg.FID_3 {
                background-image: url(../../assets/images/_windowAFID3vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
                /*margin-top: 100px;*/
            }

            svg.FID_10 {
                background-image: url(../../assets/images/_windowAFID10vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
                /*margin-top: 100px;*/
            }

            svg.FID_17 {
                background-image: url(../../assets/images/_windowAFID17vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_6 {
                background-image: url(../../assets/images/_windowAFID6vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_5 {
                background-image: url(../../assets/images/_windowAFID5vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_19 {
                background-image: url(../../assets/images/_windowAFID19vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_11 {
                background-image: url(../../assets/images/_windowAFID11vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_12 {
                background-image: url(../../assets/images/_windowAFID1213vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_13 {
                background-image: url(../../assets/images/_windowAFID1213vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_1 {
                background-image: url(../../assets/images/_windowAFID1vJPEG.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            svg.FID_2 {
                background-image: url(../../assets/images/_windowAFID2vJPEGvFinal.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                max-width: 900px;
                width: 100%;
            }

            path.windowA {
                fill: transparent;
                cursor: pointer;
                transition: fill 0.2s
            }


            /*test with new svg*/
            /*CCE Facility = brown*/
            svg #Pin_Facility_2J a:hover path {
                fill: rgb(180, 107, 23);
                cursor: pointer;
            }

            svg #Pin_Facility_2E a:hover path {
                fill: rgb(180, 107, 23);
                cursor: pointer;
            }

            svg #Pin_Facility_3E a:hover path {
                fill: rgb(180, 107, 23);
                cursor: pointer;
            }

            svg #Pin_Facility_East_Terrace a:hover path {
                fill: rgb(180, 107, 23);
                cursor: pointer;
            }

            /*CC Pharmacy Facility = green*/
            svg #Pin_Facility_I_IVAU a:hover path {
                fill: #b5fd19;
                cursor: pointer;
            }

            svg #Pin_Facility_P_IVAU a:hover path {
                fill: #b5fd19;
                cursor: pointer;
            }

            /*CC Other Facilities = fuchsia*/
            svg #Pin_Facility_DLM_Image a:hover path {
                fill: #fb09bf;
                cursor: pointer;
            }

            svg #Pin_Facility_NMD a:hover path {
                fill: #fb09bf;
                cursor: pointer;
            }

            svg #Pin_Facility_PET_B3 a:hover path {
                fill: #fb09bf;
                cursor: pointer;
            }

            svg #Pin_Facility_PET_Radiopharm a:hover path {
                fill: #fb09bf;
                cursor: pointer;
            }

            /*NCI Facility = blue*/
            svg #Ownership_Facility_Other a:hover path {
                fill: #0ff;
                cursor: pointer;
            }

            svg #Pin_Facility_HPC13 a:hover path { /*lab 7*/
                fill: #0ff;
                cursor: pointer;
            }

            svg #Pin_Facility_1B42 a:hover path {
                fill: #0ff;
                cursor: pointer;
            }

            svg #Pin_Facility_10A a:hover path {
                fill: #0ff;
                cursor: pointer;
            }

            svg #Pin_Facility_10B a:hover path {
                fill: #0ff;
                cursor: pointer;
            }

            /*NIAID Facility = red*/
            svg #Ownership_Facility_NIAID a:hover path { /*lab 2*/
                fill: #c9363c;
                cursor: pointer;
            }

            .stRed {
                fill: red
            }

            .stYellow {
                fill: yellow
            }

            .stGray {
                fill: gray
            }

            .stBlack {
                fill: black
            }

            .stGreen {
                fill: green
            }

            .stWhite {
                fill: white
            }

            .stBackHover { 
                fill: gray;
                fill-opacity: .3;
            }

            /*  CSS for dP arrow components  */
            .stArrowColorWhite {
                fill: white;
            }

            

            .stArrowBackGray {
                
                stroke: darkslategray;
                stroke-width: 3px;
                /*stroke-opacity: .5;*/
            }

            .stArrowBackGrayHover {
                
                stroke: black;
                stroke-width: 3px;
                /*stroke-opacity: .5;*/
            }

            .st1 {
                fill: #e1e1e1
            }

            .st2 {
                fill: #fbb03b
            }

            .st3 {
                fill-opacity: .25;
                stroke: #000;
                stroke-linecap: round;
                stroke-linejoin: round
            }

            .st4 {
                fill: #94762d
            }

            .st5 {
                fill: #0ff
            }

            .st6 {
                fill: #fb09bf
            }

            .st7 {
                fill: #b5fd19
            }

            .st9 {
                fill: none
            }

            .st10 {
                fill: #676767
            }

            .st11 {
                font-family: Calibri;
            }

            .st12 {
                font-size: 320.8324px
            }

            .st14 {
                font-size: 213.8883px
            }